numpy
torch
torchvision
sounddevice
faster-whisper
pynput
ctranslate2>=3.17
transformers>=5.5.0
accelerate
bitsandbytes
huggingface_hub
librosa
sentencepiece
pywinauto
pyinstaller
PySide6
pywin32
psutil
Pillow
requests
av
opencv-python
tqdm
moviepy
